In [1]:
import pandas as pd
from wildlife_datasets import datasets

In [2]:
dataset_path = "../data/processed/cropped"

In [3]:
datasets.datasets.FeralCatsAkl(dataset_path).create_catalogue()

      image_id identity                                               path
0         3958     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...
1         3959     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...
2         3204     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...
3         3960     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...
4         3961     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...
...        ...      ...                                                ...
1900      2423    linja  /Users/fmb/GitHub/764WildlifeReID/data/process...
1901      2424    linja  /Users/fmb/GitHub/764WildlifeReID/data/process...
1902      2425    linja  /Users/fmb/GitHub/764WildlifeReID/data/process...
1903      2426    linja  /Users/fmb/GitHub/764WildlifeReID/data/process...
1904      3955     matt  /Users/fmb/GitHub/764WildlifeReID/data/process...

[1905 rows x 3 columns]

In [6]:
feral_cats = pd.read_csv('../data/labels/auckland_island_feralcats_df.csv')

In [4]:
feral_cats

      image_id identity                                               path
0         3956     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
1         3203     matt  /cat/ignore/20190801_6VMy_AucklandIsland_D2_3_...
2         3957     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
3         3958     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4         3959     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
...        ...      ...                                                ...
4168      2427    linja  /cat/ignore/20190801_g7RF_AucklandIsland_C1_6_...
4169      3952     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4170      3953     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4171      3954     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4172      3955     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...

[4173 rows x 3 columns]

In [10]:
class FeralCatsAkl(datasets.DatasetFactory):
    def create_catalogue(self) -> pd.DataFrame:
        df = pd.DataFrame({
            'image_id': feral_cats['image_id'],
            'identity': feral_cats['identity'],
            'path': feral_cats['path'],
        })

        # df['path'].apply(lambda x: dataset_path + x)

        return df

In [12]:
FeralCatsAkl(dataset_path).create_catalogue()['path']

      image_id identity                                               path
0         3956     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
1         3203     matt  /cat/ignore/20190801_6VMy_AucklandIsland_D2_3_...
2         3957     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
3         3958     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4         3959     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
...        ...      ...                                                ...
4168      2427    linja  /cat/ignore/20190801_g7RF_AucklandIsland_C1_6_...
4169      3952     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4170      3953     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4171      3954     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...
4172      3955     matt  /cat/ignore/20190801_bN2A_AucklandIsland__D2_1...

[4173 rows x 3 columns]

In [24]:
from wildlife_datasets import datasets

In [25]:
datasets.names_wild

[wildlife_datasets.datasets.datasets.BelugaIDv2,
 wildlife_datasets.datasets.datasets.GiraffeZebraID,
 wildlife_datasets.datasets.datasets.GreenSeaTurtles,
 wildlife_datasets.datasets.datasets.HappyWhale,
 wildlife_datasets.datasets.datasets.HumpbackWhaleID,
 wildlife_datasets.datasets.datasets.HyenaID2022,
 wildlife_datasets.datasets.datasets.LeopardID2022,
 wildlife_datasets.datasets.datasets.NDD20v2,
 wildlife_datasets.datasets.datasets.NOAARightWhale,
 wildlife_datasets.datasets.datasets.NyalaData,
 wildlife_datasets.datasets.datasets.SealID,
 wildlife_datasets.datasets.datasets.SeaTurtleID2022,
 wildlife_datasets.datasets.datasets.StripeSpotter,
 wildlife_datasets.datasets.datasets.WhaleSharkID]

In [ ]:
# class FeralCatsAkl(DatasetFactory):
#     def create_catalogue(self) -> pd.DataFrame:
#         # Path to dataset folder
#         dataset_folder = "/Users/fmb/GitHub/764WildlifeReID/data/raw/DOC_AucklandIsland/Auckland Island summer trial 2019"
#         labels_file = "/Users/fmb/GitHub/764WildlifeReID/data/labels/auckland_island_feralcats_df.csv"

#         feral_cats = pd.read_csv(labels_file)

#         # Load the labels
#         df = pd.DataFrame({
#             'image_id': feral_cats['image_id'],
#             'identity': feral_cats['identity'],
#             'path': feral_cats['path'],
#         })

#         return self.finalize_catalogue(df)